.todo {
   width: 600px;
   min-height: 600px;
   border-radius: 20px;
   background: #fff;
   margin: auto;
   margin-top: 35px;
   display: flex;
   flex-direction: column;
   padding: 0px 44px;
   padding-bottom: 30px;
   margin-bottom: 100px;
}

.todo-header {
   margin-top: 84px;
   color: blueviolet;
   font-size: 36px;
   font-weight: 600;
   line-height: 34px;
}

.todo-add{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 45px;
}

.todo-input{
   border: none;
   border-radius: 50px;
   background: #e56765;
   font-size: 20px;
   height: 78px;
   outline: none;
   padding-left: 35px;
   width: 500px;
}
.todo-add-btn{
   border-radius: 50px;
   background: #e56765;
   width: 187px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100px;
   color: #fff;
   font-size: 26px;
   cursor: pointer;
}